.wrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.rollingnews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.rollingnews-contents {
  display: flex;
  justify-content: space-between;
}

.rollingnews-left,
.rollingnews-right {
  width: 49%;
  height: 80px;
  background-color: #ececec;
}

.press {
  display: flex;
  flex-direction: column;
}
.press-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.press-title span {
  margin-right: 20px;
  font-size: 20px;
}

.press-contents {
  height: 400px;
}

.view-btn {
  display: flex;
}

.left-btn,
.right-btn {
  position: relative;
  top: -60%;
  font-size: 50px;
  width: 50px;
  z-index: 1;
  color: #909090;
}

.left-btn {
  left: -10%;
}

.right-btn {
  right: -100%;
}
