.wrap {
  display: flex;
  flex-direction: column;
  width: 1000px;
}

.header {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}

.title {
  display: flex;
}

.rollingnews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.rollingnews-contents {
  display: flex;
  justify-content: space-between;
}

.rollingnews-left,
.rollingnews-right {
  width: 49%;
  height: 80px;
  background-color: #ececec;
}

.presscompany-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px;
}

.presscompany-title span {
  margin-right: 20px;
  font-size: 20px;
}

.view-btn {
  display: flex;
}

.presscompany-contents {
  height: 400px;
}

.left-btn,
.right-btn {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  color: #909090;
}

.left-btn {
  left: -10%;
}

.right-btn {
  right: -100%;
}
