body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
}
